html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url('../images/index-background3.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #000; /* Fallback background color */
}

.navbar {
    border-top: 5px solid #dc3545; /* Red border at the top */
    background-color: black;
    color: white;
}

    .navbar img {
        height: 80px;
    }

.jumbotron {
    background: rgba(255, 255, 255, 0.7); /* Grey with transparency */
    padding: 2rem;
    border-radius: 0;
}
    .jumbotron p {
        color: black;
    }

    .jumbotron h1 {
        color: white;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
    }

    .jumbotron .btn-primary {
        background-color: #dc3545;
        border: none;
    }

.section {
    background: rgba(255, 255, 255, 0.8); /* White with transparency */
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

    .section .btn-primary {
        background-color: #dc3545;
    }

.contact-info {
    color: white;
    padding-right: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

    .contact-info i {
        margin-right: 10px;
    }

    .contact-info a {
        color: white;
    }

.container-flex {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

    .footer a {
        color: white;
        padding: 15px;
    }


/* Responsive adjustments for heading */
h1 {
    font-size: 3.5rem; /* Default size */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Adjusted size for tablets and small screens */
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 1.5rem; /* Adjusted size for mobile devices */
    }
}

/* Responsive adjustments for contact info */
@media (max-width: 576px) {
    .contact-info span {
        display: none;
    }

    .contact-info i {
        display: inline-block;
        font-size: 1.5rem;
    }
}

.chinese-link {
    color: white;
    margin-left: 15px;
}

/* Ensure the Chinese site link is always visible */
.navbar .chinese-link {
    display: inline-block;
}
